@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: #1f2937;
  color: rgb(255, 255, 255);
  gap: 100px;
  margin: 0%;
}

.header {
  font-family: 'Roboto Slab', 'apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: #1f2937;
  color: rgb(255, 255, 255);
  gap: 400px;

}

.image-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
}

.second-button {
  font-family: 'Roboto Slab', 'apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', serif;
  border: none;
  color: #ffffff;
  padding: 8px 34px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 42px;
}

.body-text {
  margin-bottom: 100px;
}

.footer {
  font-family: 'Roboto';  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  background: #1f2937;
  color: rgb(255, 255, 255);
}

.quote-text {
  display: flex;
  height: 36px;
  color: #1f2937;
  font-weight: 300;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  gap: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  gap: 40px;

}


a {
  /* this removes the line under our links */
  text-decoration: none;
  color: aliceblue;
}

.sign {
  border: none;
  border-radius: 8px;
  background: #3882f6;
  color: #ffffff;
  padding: 8px 34px;
}

.image-text-box-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px auto;
  max-width: 900px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.note {
  display: flex;
  font-family: 'Roboto Slab', 'apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', serif;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin: 80px;
  background-color: #e7e5eb;
  flex-direction: column;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f3927;
  text-align: center;
}

.p-3 {
  font-size: 18px;
  text-align: end;
}

.lower-text {
  background: #3882f6;
  width: 75%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

last-p {
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: none;
  flex-direction: row;
}

.left {
  width: 80%;
  margin-left: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h4 {
  font-size: 24px;
  color: white;
  display: flex;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

button.btn-second-button {
  border: 1px solid #ffffff;
  border-radius: 10px;
  background: #3882f6;
  color: #ffffff;
  padding: 8px 13px;
  margin-right: 30px;
}

/*For Image Frames */
.box-blue {
  border: 3px solid blue;
  border-radius: 10px;
  width: 170px;
  height: 170px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}

.info {
  font-family: 'Roboto Slab', 'apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-2 {
  font-size: 14px;
  color: #555;
}


.image-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
}

.box-blue {
  border: 3px solid rgb(159, 161, 42);
  border-radius: 10px;
  width: 170px;
  height: 170px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}


/* For adding images into the boxes */
.box-1 {
    display: flex;
  background-image: url(./images/pexels-cottonbro-6892702.jpg);
}
.box-2 {
  background-image: url(./images/pexels-aju-bee-325140257-25037117.jpg);
}
.box-3 {
  background-image: url(./images/pexels-alexfu-1188751.jpg);
}
.box-4 {
  background-image: url(./images/pexels-andrew-15863066.jpg);
}
.box-5 {
  background-image: url(./images/pexels-jakeheinemann-28655002.jpg);
}
.box-6 {
  background-image: url(./images/pexels-pixabay-270632.jpg);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 40px ;
}

.card {
  background-color: white;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 8px 3px 5px #c4d1e2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 250ms;
  transform: rotate3d(0, 1, 0, 20deg);
}

.card h5 {
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 16px;
}

.card p{
  font-size: 17px;
  margin-top: 10px 0;
  margin-right: 10px;
  margin-left: 16px;
}

.card:hover {
    background-color: white;
    width: 100%;
    border-left: 5px solid #facc15;
    transform: translateY(-15px);
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 50px;
}

.project-left, .project-right {
    width: 100%;
    margin: 0%;
}

.project img {
    width: 100%;
    border-radius: 50%;
    border-radius: 8px;
}

.header-img {
    max-width: 100%;
    max-height: 100%;
    width: 20vw;
    padding-top: 20px;
    object-fit: cover;
}

.project-icon-container {
    display: flex;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

* {
    margin: 0;
    padding: 0;
}

svg {
    width: 24px;
    height: 24px;
    margin-left: 5%;
    margin-right: 5%;
    fill: rgb(95, 85, 26);
}

.header-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 60vw;
  max-width: 1300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 25%;
  margin-bottom: 5%;
  max-width: 90ch;
  margin-top: 40px;
  top: -12px;
  animation: fadeIn 0.5s ease-in;
  background: linear-gradient(190deg, #ece57f 70%, #ffffff calc(80% + 1px));
  border: 3px solid rgb(159, 161, 42);
  border-radius: 10px;
}

.header-wrapper img {
  border-radius: 10px;
}

.text {
  margin-left: 10%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header-icons {
  margin-left: 10%;
  animation: 3s ease-in 1s infinite;
}

.footer-container{
  background-color: #e6d591;
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}

.footer-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.footer-container h2 {
  margin-right: 50%;
}

/* Add this to be used on phones etc */
@media (min-width: 900px) {}


.footer-icons {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header-img {
  height: 120%;
  float: left;
  max-width: 500px;
  margin: -3rem 1rem 0rem -2rem;
  padding-top: 20px;
  object-fit: cover;
  size: 50%;
  border-radius: 10px;
}

.content {
  animation: fadeIn 0.5s ease-in;
}

.intro-wrapper h2 {
  margin-right: 50%;
}

.footer-container img {
  border-radius: 10px;
}
/* For pop-up */

.card {
  position: relative;
  /* display: inline-block; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#popup-modal {
  transition: transform 0.3s ease-in-out, opacity 0.4s ease;
  transform: translate(-50%, -100%);
}

#popup-modal.show {
  transform: translate(-50%, -50%);
}

/* The actual popup */
.Pops-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;

  transform: translate(-50%, -50%);

  background: #94934f;
  color: white;

  padding: 20px;
  border-radius: 10px;

  visibility: hidden;
}
/* Toggle this class - hide and show the popup */
.Pops-up.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Pop up Button */
button {
  position: relative;
  /* display: inline-block; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 20px;
  color: #ffffff;
  background-color: #dadd0e;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

button :hover {
    background-color: white;
    width: 100%;
    border-left: 5px solid #eede9d;
    transform: translateY(-15px);
}

.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: #000;
  transition: opacity 0.3s ease;
  opacity: 0%;
  z-index: 999;
}

.backdrop.show {
  opacity: 30%;
}